<% include partials/head.ejs %>
<div class="container">

    <div class="col-12 col-md-10 col-lg-8">
        
        <form class="card card-sm"  id="formulario" method="POST" action="/form">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">Person</span>
                </div>
                <input type="text" class="form-control" placeholder="First Name">
                <input type="text" class="form-control" placeholder="Last Name">
              </div>

        </form>
    </div>
</div>

<% include partials/footer.ejs %>